* {
    padding: 0;
    margin: 0;
}

a {
    background-color: transparent;
}

details, main {
    display: block;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: border-box;
}

img {
    border-style: none;
}

::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}