@media screen and (max-width: 900px){

.logo {
    width: 80px;
    margin: 0;
}

.section-title {
    margin-bottom: 34px;
}

.section-title .ja {
    margin-bottom: 24px;
}

/*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
#header .inner {
    flex-direction: column;
    align-items: flex-start;
}

#header .contact {
    display: none;
}

#mainvisual img {
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/

#mainvisual {
    margin-bottom: 80px;
}


/*-------------------------------------------
News
-------------------------------------------*/
#news {
    margin-bottom: 80px;
}


#news .list {
    flex-direction: column;
}

#news .list li {
    width: 100%;
    border-right: none;
    padding: 10px 0;
    margin-bottom: 20px;
}

#news .list li:last-child {
    margin-bottom: 0;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about {
    flex-direction: column;
    margin-bottom: 80px;
}

#about .img {
    width: 100%;
    margin-bottom: 30px;
}

#about .img img {
    height: 300px;
}

#about .text {
    width: 100%;
    padding: 0 16px;
}


/*-------------------------------------------
Business
-------------------------------------------*/
#business {
    margin-bottom: 80px;
}

#business .flex {
    flex-direction: column;
    padding: 0;
}

#business .flex .left {
    width: 100%;
    margin: 0 0 30px 0;
}

#business .flex .item {
    text-align: center;
    margin-bottom: 30px;
}

#business .flex .title {
    text-align: left;
}

#business .flex .right {
    width: 100%;
}


/*-------------------------------------------
  Company
  -------------------------------------------*/
#company {
    height: auto;
    flex-direction: column;
    position: static;
}

#company .text {
    width: 100%;
    padding: 40px 20px;
    margin-bottom: 20px;
    position: static;
}

#company .info {
    flex-direction: column;
}

#company .info dt {
    width: 100%;
    margin-top: 20px;
}

#company .info dd {
    width: 100%;
    margin-top: 5px;
    padding-left: 14px;
}

#company .info dd:first-of-type {
    margin-top: 5px;
}

#company .info .add {
    margin-left: 10%;
}

#company .img {
    width: 100%;
    padding: 0;
    position: static;
}



/*-------------------------------------------
  footer
  -------------------------------------------*/
#footer .flex {
    flex-direction: column;
    align-items: flex-start;
}

#footer .flex .logo {
    margin-bottom: 10px;
}

}